.mainDiv {
    background-color: #f0f0f0;
    width: 98%;
    height: 90%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    align-self: auto; 
}